<script setup>
  const props = defineProps(['color'])

</script>

<template>
  <a href="#">
    <div class="square" :style="{ backgroundColor: props.color }"></div>
  </a>
</template>

<style scoped>
  .square {
    height: 35px;
    width: 35px;
    border: 2px solid #333;
    margin: 1px;
  }
</style>